<% if @user.profile_photo %>
  <%= image_tag (@user.profile_photo), :class => "user_show_profile_image border_round" %>
<% else %>
  <%= image_tag ('user_new/login-with-facbook.jpg'), :class => "user_show_profile_image border_round" %>
<% end %>
<div class="user_show_profile_text_name">
	<div class="user_show_profile_text_full_name">
	  <%= link_to @user.full_name, @user if @user.full_name %>
	</div>
	<%= link_to '@'+@user.user_name, @user %>
</div>

<div class="user_show_left_nav border_round">
  <ul class="nav nav-pills nav-stacked user_show_left_nav_li">
  	<li><%= link_to "Posts", user_posts_path(@user), :remote => true, :class => "user_show_left_nav_1 user_show_left_nav_active" %></li>
    <li><a href="#">About</a></li>
    <li><%= link_to "Likes", likings_path(:user => @user, :status => 'like'), :remote => true, :class => "user_show_left_nav_3" %></li>
    <li><%= link_to "Dislikes", likings_path(:user => @user, :status => 'dislike'), :remote => true, :class => "user_show_left_nav_4"  %></li>
   </ul>
</div>

