<style type="text/css">
  .nav-pills > .active > a,
  .nav-pills > .active > a:hover,
  .nav-pills > .active > a:focus {
    color: #ffffff;
    background-color: <%= @color %>
  }
  .nav-pills{
    color: <%= @color %>
  }
</style>

<% if @user.profile_photo %>
  <%= image_tag (@user.profile_photo), :class => "user_show_profile_image border_round" %>
<% else %>
  <%= image_tag ('user_new/login-with-facbook.jpg'), :class => "user_show_profile_image border_round" %>
<% end %>
<div class="user_show_profile_text_name">
	<div class="user_show_profile_text_full_name">
	  <%= link_to @user.full_name, @user if @user.full_name %>
	</div>
	<%= link_to '@'+@user.user_name, @user %>
</div>

<div>
  <ul class="nav nav-pills nav-stacked border_round user_show_left_nav border div_background">
    <li class="active"><a data-toggle="tab" href="#section1A">Posts</a></li>
    <li><a data-toggle="tab" href="#section1B">About</a></li>
    <li><a data-toggle="tab" href="#section1C">Likes</a></li>
    <li><a data-toggle="tab" href="#section1D">DisLikes</a></li>
  </ul>
</div>