<!DOCTYPE html>
<html>
<head>
  <title>Rankbuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "user_new_body">
  <div class="user_new_effect_container">
    <div class="user_new_effect div_shadow user_new_effect-2">
      <center><%= image_tag("user_new/expand.png", :alt => "...", :class => "user_new_effect_expand_img user_new_effect_expand-2")%></center>
    </div>
    <div class="user_new_effect div_shadow user_new_effect-1">
      <center><%= image_tag("user_new/expand.png", :alt => "...", :class => "user_new_effect_expand_img user_new_effect_expand-1")%></center>
    </div>
  </div>

  <div class="container user_new_container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <%= msg  %>
      </div>
    <% end %>
    <div class="row">
      <div class="span7"></div>
      <div class="span5">
        <%= render  template: "sessions/new" %>
      </div>
    </div>

    <div class="row">
      <div class="span7">
        <table>
          <tr>
            <td align = "center">
              <a href="/auth/twitter" class="auth_provider"><%= image_tag("user_new/login-with-twitter.png", :alt => "Twitter", :width => "275px", :height => "50px", :title => "Login With Twitter")%></a>
            </td>
          </tr>
          <tr>
            <td align = "center"><br>OR<br></td>
          </tr>
          <tr>
            <td align = "center"><a href="/auth/facebook" class="auth_provider"><%= image_tag("user_new/login-with-facbook.jpg", :alt => "Facebook", :width => "275px", :height => "50px" , :title => "Login With Facebook")%>
            </td>
          </tr>
          <tr>
            <td align = "center"><br>OR<br></td>
          </tr>
          <tr>
            <td align = "center"><a href="/auth/google_oauth2" class="auth_provider"><%= image_tag("user_new/sign-in-with-google.png", :alt => "Google", :width => "275px" , :height => "50px" , :title => "Login With Google")%></a>
            </td>
          </tr>
        </table>
      </div>
      <div class="span5">
         <%= render  "sign_up_form" %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      $('body').on("click",".user_new_effect_expand-1",function(){
        var div_height = $(".user_new_effect-1").height();
        var height = $(window).height()-div_height; 
        $(".user_new_effect-1").animate({height:height});
        $(".user_new_effect-1").empty().html("<%= escape_javascript(render 'static_effect1') %>");
      });

      $('body').on("click",".user_new_effect_expand-2",function(){
        var div_height = $(".user_new_effect-2").height();
        var height = $(window).height()-div_height-40;
        $(".user_new_effect-2").animate({height:height});
        $(".user_new_effect-2").empty().html("<%= escape_javascript(render 'static_effect2') %>");
      });
  </script>

</body>
</html>
