<!DOCTYPE html>
<html>
<head>
  <title>Rankbuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <%= msg  %>
      </div>
    <% end %>
    <div class="row">
      <div class="span7"></div>
      <div class="span5">
        <%= render  template: "sessions/new" %>
      </div>
    </div>

    <div class="row">
      <div class="span7">
        <a href="/auth/twitter" class="auth_provider">Twitter</a>
      </div>
      <div class="span5">
         <%= render  "sign_up_form" %>
      </div>
    </div>
  </div>

</body>
</html>
