<% content_for :top do %>
  <div class="user_show_cover_photo" style=<%= "background-color:#{@color}" %>>
  	<%= image_tag "user_new/bg.jpg" %>
  </div>
<% end %>

<% content_for :left do %>
  <%= render "left_side_content" %>
<% end %>

<div class ="user_show_main_container">
	<table>
  		<tr>
  			<td width="15%">POSTS</td><td width="15%">RANK</td><td width="15%">LIKES</td><td width="15%">DISLIKES</td>
  			<td rowspan="2" width="55%" align="right">
  				<% if current_user == @user %>
  					settings
  				<% else %>
  					<% if @liking_status != 'like' %>
  						<%= link_to "Like", likings_path(:like_id => @user.id, :status => "like"), :method => :post, :class => "btn btn-info" %>
  					<% else %>
  						Liked
  					<% end %>
  					<% if @liking_status != 'dislike' %>
              <%= link_to "DisLike", likings_path(:like_id => @user.id, :status => "dislike"), :method => :post, :class => "btn btn-danger" %>
            <% else %>
  						DisLiked
  					<% end %>
  				<% end %>
  			</td>
  		</tr>
  		<tr class = "user_show_profile_tabel_tr_2" style=<%= "color:#{@color}" %>>
  		  <td><%= number_to_human(@user.posts_count) %></td>
  			<td><%= number_with_delimiter(@user.find_rank, :delimiter => ',') %></td>
  			<td><%= number_to_human(@user.likes) %></td>
  			<td><%= number_to_human(@user.dislikes) %></td>
  		</tr>
  	</table>
  	<hr>
</div>
