<style type="text/css">
  body{
    background-color: <%= @bg_color %>;
  }
</style>
<% content_for :top do %>
  <div class="user_show_cover_photo" style=<%= "background-color:#{@color}" %>>
  	<%= image_tag "user_new/bg.jpg" %>
  </div>
<% end %>

<% content_for :left do %>
  <%= render "left_side_content" %>
<% end %>

<div class ="user_show_main_container">
	<input type="hidden" id="hidden_color_field" value = <%= @color %>>
	<table>
  		<tr>
  			<td width="15%">POSTS</td><td width="15%">RANK</td><td width="15%">LIKES</td><td width="15%">DISLIKES</td>
  			<td rowspan="2" width="55%" align="right">
  				<% if current_user == @user %>
  					settings
  				<% else %>
  					<% if @liking_status != 'like' %>
  						<%= link_to "Like", likings_path(:like_id => @user.id, :status => "like"), :method => :post, :class => "btn btn-info" %>
  					<% else %>
  						Liked
  					<% end %>
  					<% if @liking_status != 'dislike' %>
              <%= link_to "DisLike", likings_path(:like_id => @user.id, :status => "dislike"), :method => :post, :class => "btn btn-danger" %>
            <% else %>
  						DisLiked
  					<% end %>
  				<% end %>
  			</td>
  		</tr>
  		<tr class = "user_show_profile_tabel_tr_2" style=<%= "color:#{@color}" %>>
  		  <td><%= number_to_human(@user.posts_count) %></td>
  			<td><%= number_with_delimiter(@user.find_rank, :delimiter => ',') %></td>
  			<td><%= number_to_human(@user.likes) %></td>
  			<td><%= number_to_human(@user.dislikes) %></td>
  		</tr>
  	</table>
  	<hr>

  	<div class="user_show_main_container_content">
      <% if @user != current_user %>
        <div class="user_show_post_form div_background border_round border">
          <%= form_for [current_user,Post.new] ,:html => {:multipart => true} do |f| %>
            <span>Write somthing to <%= @user.display_name %></span><br/>
            <%= f.text_area :content, :class => "user_show_post_form_text_area" %>
            <%= f.hidden_field :post_for, :value => @user.id %><br>
            <%= f.submit "Post", :class => "user_show_post_form_button btn btn-info" %>
          <% end %>
        </div>
      <% end %>
      <div class="tab-content div_background border_round user_show_main_container_content_tabs">
        <div id="section1A" class="tab-pane fade in active">
          <%= render 'posts/posts' %>
        </div>
        <div id="section1B" class="tab-pane fade">
          <%= render 'likings/likings' %>
        </div>
        <div id="section1C" class="tab-pane fade in">
          <%= render 'likings/likings' %>
        </div>
        <div id="section1D" class="tab-pane fade">
          <%= render 'likings/likings' %>
        </div>
      </div>
  	</div>
</div>
