<%= form_for [current_user,@post] ,:html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.file_field :photo_url %>
  </p>
  <p><%= f.submit %></p>
<% end %>