<div class="nav_bar_container navbar-fixed-top">
  <%= link_to "Home", home_path, :class => "brand" %>
  <%= link_to "Notifications", home_path, :class => "brand" %>
  <input type="text" class="input-medium search-query">
  <%= link_to "Log out", log_out_path, :class => "brand" %>
  <a href="#create_new_post_model" role="button" class="btn" data-keyboard ="true" id="create_new_post">Post</a>
</div>

<!-- Modal -->
<div id="create_new_post_model" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Post</h3>
  </div>
  <%= form_for [current_user,Post.new] ,:html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.file_field :photo_url %>
  </p>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary"><%= f.submit "Create" %></button>
  </div>
  <% end %>
</div>