<!DOCTYPE html>
<html>
<head>
  <title>Rankbuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <div class="row">
        <%= render 'layouts/navigation'%>
      </div>
      
      <div class="row">
        <%= render 'layouts/errors'%>
      </div>

      <div class="row">
        <% if content_for?(:top) %>
          <%= yield :top %>
        <% end %>
      </div>
      
      <div class="row main_container">
        <div class="span3">
          <%= render 'layouts/left_side'%>
        </div>

        <div class="span6">
          <%= yield %>
        </div>

        <div class="span3">
          <%= render 'layouts/right_side'%>
        </div>
      </div>
    </div>

  </body>
</html>
