<!DOCTYPE html>
<html>
<head>
  <title>Rankbuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <div class="row">
        <%= link_to "Home", home_path, :class => "brand" %>
        <%= link_to "Notifications", home_path, :class => "brand" %>
        <input type="text" class="input-medium search-query">
        <%= link_to "Log out", log_out_path, :class => "brand" %>
      </div>
      
      <div class="row">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <%= msg  %>
          </div>
        <% end %>
      </div>
      <hr>

      <div class="row">
        <div class="span3">
          
        </div>

        <div class="span6">
          <%= yield %>
        </div>

        <div class="span3">
          <% if content_for?(:right) %>
            <%= yield :right %>
          <% else %>
            <%= render "layouts/right_side" %>
          <% end %>
        </div>
      </div>
      
    </div>

  </body>
</html>
